.carousel{
    width:1210px;
    margin:auto;
}
.slider {
	width: 862px;
    margin-left:210px;  
}
.slider-container {
	height: 485px;
	margin: 0 auto -25px;
	overflow: hidden;
	position: relative;
	width: 862px;
    z-index:-1;
}
.slider-container .slider-wrapper {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 5000em; /*Fix for prevent display errors*/
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}
.slider-container .slide {
	float: left;
	height: 485px;
	overflow: hidden;
	position: relative;
	width: 862px;
}
.slider-container .slide img{
    width:862px;
    height:485px;
}
.slider-nav {
	text-align: center;
	width: 862px;
}
.slider-nav li {
	display: inline;
	padding: 3px;
}
.slider-nav .bullet {
	background-color: #59baa8;
	border-radius: 50%;
	display: inline-block;
	text-indent: -9000px;
	overflow: hidden;
	height: 16px;
	width: 16px;
}
.slider-nav .active {
	background-color: #e7433b
}
.slider-nav .prev, .slider-nav .next {
    background-image: url('../Images/Home/sprite.png');
    display: inline-block;
    text-indent: -9000px;
    overflow: hidden;
    height: 16px;
    width: 16px;
}
.slider-nav .next {
	background-position: -15px top
}
