.container{
    width: 100%;
    margin-top:30px;
}
.container .demo{
    width:1210px;
    margin: auto;
    background-color:#fff;
    border-top: 2px #CCC solid;
    border-bottom: 2px #CCC solid;
    padding: 10px 0px;
}
.container .title_more{
    overflow:hidden;
    line-height: 30px;
}
.container .title{    
    font-size:18px;
    float:left;
}
.container .more{
    font-size:14px;
    float:right;
}
.main {
    width: 1000px;
    margin: 0 auto;
}

.settleup-2013 {
    height: 34px;
    position: fixed;
    right: 45px;
    z-index: 900;
}

.shoping-small {
    width: 119px;
}