.jbt_page{
    text-align: center;
    margin-top: 40px;
    color: #7c7c7c;
    padding-bottom: 40px;
}
/*.jbt_page button{
    background-color:transparent;
    border:0;
}*/
.jbt_page .inputbox_page_number{
    display:inline-block;
    width:50px;
    height:20px;
    border: 0;
    padding-left: 2px;
    outline: none;
    border: 1px #EDEDED solid !important;
}
/*.jbt_page .goto{
    border: 1px solid #dbdbdb;
    border-radius:2px;
}*/
.jbt_page input{
    border: 0;
    width: 18px;
    vertical-align: middle;
}
.jbt_page .to_first,.to_pre,.to_next,.to_last,.goto{
    cursor:pointer;
    border: 1px #EDEDED solid !important;
    width: 80px !important;
    height: 30px !important;
    background: #fff;
    /*background: url(../Images/Shared/first_page.png) no-repeat transparent;
    background-position: 4px 5px;*/
}
/*.jbt_page .to_pre {
    background: url(../Images/Shared/pre_page.png) no-repeat transparent;
    background-position: 4px 5px;
}
.jbt_page .to_next {
    background: url(../Images/Shared/next_page.png) no-repeat transparent;
    background-position: 4px 5px;
}
.jbt_page .to_last {
    background: url(../Images/Shared/last_page.png) no-repeat transparent;
    background-position: 4px 5px;
}*/