@*<div class="left">
    <ul class="center">
        <li>
            <img src="~/Images/Sidebar/user_grey.png" />
        </li>
    </ul>
</div>*@

<!--右侧贴边导航quick_links.js控制-->
<div class="mui-mbar-tabs">
    <div class="quick_link_mian">
        <div class="quick_links_panel">
            <div id="quick_links" class="quick_links">
                <ul>
                    <li>
                        <a href="#1" class="my_qlinks"><i class="setting"></i></a>
                        @if (Session["CustomerId"] != null)
                        {
                            <div class="ibar_login_box status_login">
                                <div class="avatar_box">
                                    <p class="avatar_imgbox">
                                        <img src="~/Images/no-img_mid_.jpg" />
                                    </p>
                                    <ul class="user_info">
                                        <li>用户名：@Session["CustomerId"]</li>
                                    </ul>
                                </div>
                                <div class="login_btnbox">
                                    <a href="/FrontCustomer/MyMall" class="login_order">我的商城</a> <a href="/FrontCustomer/MyMall" class="login_favorite">我的订单</a>
                                </div>
                                <i class="icon_arrow_white"></i>
                            </div>
                        }
                    </li>
                    <li id="shopCart">
                        <a href="/FrontCustomer/ShoppingCar" class="message_list">
                            <i class="message"></i>
                            <div class="span">
                                购物车
                            </div>
                            @*<span class="cart_num">0</span>*@
                        </a>
                    </li>
                </ul>
            </div>
            <div class="quick_toggle">
                <ul>
                    <li>
                        <a href="#"><i class="kfzx"></i></a>
                        <div class="mp_tooltip">
                            客服中心<i class="icon_arrow_right_black"></i>
                        </div>
                    </li>
                    <li>
                        <a href="#none"><i class="mpbtn_qrcode"></i></a>
                        <div class="mp_qrcode" style="display: none;">
                            <img src="~/Images/weixin_code_145.png" width="148" height="175"  />
                            <i class="icon_arrow_white"></i>
                        </div>
                    </li>
                    <li><a href="#top" class="return_top"><i class="top"></i></a></li>
                </ul>
            </div>
        </div>
        <div id="quick_links_pop" class="quick_links_pop hide"></div>
    </div>
</div>