
@{
    ViewBag.Title = "AddRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Css/adminPerssions.css")
}
@section scripts{
    @Scripts.Render("~/Js/jquery.ztree.core.js")
    @Scripts.Render("~/Js/jquery.ztree.excheck.js")
    @Scripts.Render("~/Js/add_role_ztree.js")
}
<section class="content-header">
    <h1>
        <a href="/Admin/RoleList"><img src="~/Images/Shared/return.png" /></a>
        角色列表
        <small>添加角色</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    <div class="tips">
        <div class="tips-tit">
            <img src="~/Images/Shared/灯.png" />
            <span>操作提示</span>
        </div>
        <ul>
            <li>可从管理平台手动添加一名新管理员，并填写相关信息。</li>
            <li>标识“*”的选项为必填项，其余为选填项。</li>
            <li>新增管理员后可从管理员列表中找到该条数据，并再次进行编辑操作。</li>
        </ul>
    </div>
    <div class="step">
        <div class="item">
            <div class="role">
                <div class="word">
                    <span class="start">*</span>
                    <span>角色名：</span>
                </div>
                <input id="RoleName"/>
            </div>
        </div>
        <div class="item">
            <div class="role">
                <div class="word">
                    <span>角色描述：</span>
                </div>
                <input id="RoleCode"/>
            </div>
        </div>     
    </div>
    <div class="step">
        <ul id="treeDemo" class="ztree"></ul>
        <div class="select-all">
            <button onclick="sure_role_permissions()">确认</button>
        </div>
    </div>
</section>

