@model List<GameMall_Back.ViewModels.ViewModelAdmin>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Css/admin.css")
}
<section class="content-header">
    <h1>
        管理员列表
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    <div class="tips">
        <div class="tips-tit">
            <img src="~/Images/Shared/灯.png" />
            <span>操作提示</span>
        </div>
        <ul>
            <li>该页面展示了所有的管理员列表。</li>
            <li>可手动添加管理员并分配权限、查看日志等操作。</li>
        </ul>
    </div>
    <div class="admin-list">
        <div class="head">
            <a href="/Admin/AddAdmin" class="button">+添加管理员</a>
            <a href="/Admin/AdminLog" class="button">管理员日志</a>

            <div class="search-block">
                <input type="text" name="searchKey" />
                <button class="search"></button>
            </div>

        </div>
        <div class="list">
            <table>
                <thead>
                    <tr>
                        <th>角色</th>
                        <th>用户名</th>
                        <th>手机号</th>
                        <th>加入时间</th>
                        <th>最后登录时间</th>
                        <th class="operation">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @Html.Action("RoleName", "Admin", item)
                            @Html.Action("AdminItem", "Admin", item)
                            <td class="operation">
                                <form action="/Admin/AdminPermissions">
                                    <input name="AdminId" value="@item.AdminId" type="hidden"/>
                                    <button>分配权限</button>
                                </form>
                                <button>查看日志</button>
                                <button>重置密码</button>
                                <button>删除</button>
                            </td>
                        </tr>
                        <tr></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>