
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Css/Login.css" rel="stylesheet" />
</head>
<body>
    <form action="/Admin/AdminLogin" method="post">
        <div class="bg-block">
            <div class="login-container">
                <div class="left-block">
                    <div class="logo">云游丶天下</div>
                    <div class="word">后台管理</div>
                </div>
                <div class="right-block">
                    <img class="logo-name" src="~/Images/Login/logo-name.png" />
                    @*<div class="logo">云游丶天下</div>
                        <div class="number">V1.0</div>*@
                    <div class="userName">
                        <img src="~/Images/Login/用户.png" />
                        <input type="text" name="UserName" id="UserName" placeholder="用户名/邮箱" onblur="UserCheck()" />
                        <div class="tip" id="tip_userName"></div>
                    </div>
                    <div class="password">
                        <img src="~/Images/Login/密码.png" />
                        <input type="password" name="Password" id="Password" placeholder="密码" onblur="PasswordCheck()" />
                        <div class="tip" id="tip_password"></div>
                    </div>
                    <div class="choose">
                        <div class="remeber-password">
                            <label><input type="checkbox" />记住密码</label>
                        </div>
                        <a href="#" class="forget-password">忘记密码？</a>
                    </div>
                    <button type="submit">登录</button>
                </div>
            </div>
        </div>
    </form>
    @{
        if (TempData["DataError"] != null)
        {
            <script>
                alert("@TempData["DataError"]");
            </script>
        }
    }
    <script src="~/Js/Login.js"></script>
</body>
</html>
