@model GameMall_Back.ViewModels.ViewModelUsers
<td>@Model.UserName</td>
@*<td>
    @Html.Action("RoleName","Admin",Model)
</td>*@
<td>15223246130</td>
<td>@Model.CreationTime</td>
<td>2017-6-28 10:00:00</td>