@model GameMall_Back.ViewModels.Goods.ViewModelVersions
@{ 
    Layout = null;
}
@if (Model.Sell == 0)
{
    <button  class="NoSell"  id="@Model.VersionId" onclick="ChangeSell(@Model.VersionId)">已下架</button>
}
else
{
    <button  id="@Model.VersionId" onclick="ChangeSell(@Model.VersionId)">已上架</button>
}


