
@{
    ViewBag.Title = "CreateWarehouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Css/addAdmin.css")
}
<section class="content-header">
    <h1>
        创建仓库
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 仓库中心</a></li>
        <li class="active">创建仓库</li>
    </ol>
</section>
<section class="content">
    <div class="tips">
        <div class="tips-tit">
            <img src="~/Images/Shared/灯.png" />
            <span>操作提示</span>
        </div>
        <ul>
            <li>只有权限管理员才能创建仓库</li>
            <li>标识“*”的选项为必填项，其余为选填项。</li>
            <li>新增仓库后可从仓库列表中找到该条数据，并对其操作。</li>
        </ul>
    </div>
    <div class="addAdmin">
        <div class="item">
            <div class="word">
                <span class="start">*</span>
                <span>仓库名：</span>
            </div>
            <input />
        </div>
        <div class="item">
            <div class="word">
                <span class="start">*</span>
                <span>仓库地址：</span>
            </div>
            <input />
        </div>
        <button>确认</button>
    </div>
</section>


