body {
    margin:0;
    font-size:14px;
    font-family:KaiTi;
    text-align:center;
}
.bg-block {
    width: 100%;
    /*min-height: 638px;*/
    min-height: 662px;
    background: url('../Images/User/banner.png') center center no-repeat;
}
.login-container {
    width:778px;
    height:auto;
    margin:auto;
    box-shadow: #444 0px 0px 30px;
    overflow: hidden;
    position:relative;
    top:130px;
}
.left-block {
    float:left;
    width:348px;
    height:410px;
    color:white;
    font-size:28px;
}
.left-block .logo{
    padding-top:80px;
    padding-bottom:25px;
}
.left-block .word{
    font-size:20px;
}
.right-block{
    float:right;
    width:430px;
    height:410px;
    background-color:white;
}
.right-block .logo{
    margin-top:20px;
}
.right-block .logo-name{
    padding-top:30px;
}
.right-block .userName{
    padding-top:30px;
    margin:auto;
    width:270px;
    border-bottom:1px solid #27A9E3;
}
.right-block input {
    border:0;
    width:224px;
    outline:none;
}
.right-block .tip{
    width:16px;
    height:16px;
    float:right;
}
.right-block .password{
    padding-top:30px;
    margin:auto;
    width:270px;
    border-bottom:1px solid #27A9E3;
}
.right-block .choose{
    width:278px;
    margin:auto;
    padding-top:40px;
    overflow:hidden;
}
.right-block .choose .remeber-password{
    float:left;
}
.right-block .choose .forget-password{
    float:right;
    color: #27A9E3;
}
.right-block .remeber-password input{
    width:20px;
}
.right-block .login {
    margin-top: 30px;
    width: 270px;
    height: 40px;
    background: #49b9ee;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}
.right-block .register{
    margin-top: 30px;
    margin-left: 100px;
}
.right-block .register a{
    border: 1px solid #27A9E3;
    border-radius: 2px;
    padding: 4px 20px;
    text-decoration:none;
}