@model List<GameMall_Back.ViewModels.Order.ViewModelInvoice>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        发货单列表
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    <div class="tips">
        <div class="tips-tit">
            <img src="~/Images/Shared/灯.png" />
            <span>操作提示</span>
        </div>
        <ul>
            <li>可从管理平台手动添加一名新管理员，并填写相关信息。</li>
            <li>标识“*”的选项为必填项，其余为选填项。</li>
            <li>新增管理员后可从管理员列表中找到该条数据，并再次进行编辑操作。</li>
        </ul>
    </div>
    <div class="orders">
        <div style="overflow:hidden">
            <div class="search-block">
                <input placeholder="订单号" id="searchKey" />
                <input type="button" class="search" id="search" />
            </div>
        </div>
        <div id="invoice_list">
            @Html.Action("SelectInvoice", "Order")
        </div>
    </div>
</section>
@section css{
    @Styles.Render("~/Css/order.css")
    @Styles.Render("~/Css/page.css")
}
@section scripts{
    @Scripts.Render("~/Js/invoice.js")
}



