body {
    margin:0;
    font-size:14px;
    font-family:KaiTi;
    text-align:center;
}
a{
    text-decoration:none;
}
.bg-block {
    width: 100%;
    /*min-height: 638px;*/
    min-height: 662px;
    background: url(/Images/Login/seller_login_bg.jpg) center center no-repeat;
}
.login-container {
    width:778px;
    height:auto;
    margin:auto;
    box-shadow: #444 0px 0px 30px;
    overflow: hidden;
    position:relative;
    top:130px;
}
.left-block {
    float:left;
    width:348px;
    height:396px;
    color:white;
    font-size:28px;
    background-image: url('/Images/Login/login_left_bg.jpg');
}
.left-block .logo{
    padding-top:80px;
    padding-bottom:25px;
}
.left-block .word{
    font-size:20px;
}
.right-block{
    float:left;
    width:430px;
    height:396px;
    background-color:white;
}
/*.right-block .logo{
    display:inline-block;
    padding-top:50px;
    font-size:20px;
    color:#27A9E3;
}
.right-block .number {
    display:inline-block;
    width:72px;
    height:72px;
    background-image: url(/images/Background/Login/对话框.png);
    background-size:100%;
}*/
.right-block .logo-name{
    padding-top:30px;
}
.right-block .userName{
    padding-top:30px;
    margin:auto;
    width:270px;
    border-bottom:1px solid #27A9E3;
}
.right-block input {
    border:0;
    width:224px;
    outline:none;
}
.right-block .tip{
    width:16px;
    height:16px;
    float:right;
}
.right-block .password{
    padding-top:30px;
    margin:auto;
    width:270px;
    border-bottom:1px solid #27A9E3;
}
.right-block .choose{
    width:278px;
    margin:auto;
    padding-top:40px;
    overflow:hidden;
}
.right-block .choose .remeber-password{
    float:left;
}
.right-block .choose .forget-password{
    float:right;
    color: #27A9E3;
}
.right-block .remeber-password input{
    width:20px;
}
button {
margin-top: 50px;
    width: 100px;
    height: 40px;
    background: #49b9ee;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    float: right;
    border: 0;
    cursor: pointer;
    margin-right: 75px;
}