body {
    font-size: 12px;
    font-family: "Microsoft Yahei", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    /*color:#62b3ff;*/
    background-color:#f7f7f7;
}
.tips{
    padding: 11px 13px;
    color: #707070;
    border-radius: 5px;
    background-color: #f5faff;
    border: 1px dashed #62b3ff;
}
.tips .tips-tit{
    color: #62b3ff;
    position: relative;
    line-height: 20px;
    margin-bottom:10px;
}
.tips .tips-tit img{
    width:20px;
    height:20px;
    vertical-align:middle;
}
.tips .tips-tit span{
    vertical-align:middle;
}
.tips ul li{
    line-height: 20px;
    margin-bottom: 5px;
}