@{
    Layout = null;
}

@model List<GameMall_Front.ViewModels.Goods.ViewModelGoods>
<div>
    <div class="container">
        <div class="demo">
            <div class="title_more">
                <img src="~/Images/HomeImages/Label2.png" />
 
            </div>
            <div class="plist">
                <ul class="clearfix">
                    @foreach (var item in Model)
                    {
                        @Html.Partial("ItemGoods", item)
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

