@{
    Layout = null;
}
<h2>修改密码</h2>
<form action="/FrontCustomer/ModifyPassword" method="post">
    <div class="item">
        <div class="word">
            <span class="star">*</span>
            <span>原密码：</span>
        </div>
        <input type="password" name="password"/>
    </div>
    <div class="item">
        <div class="word">
            <span class="star">*</span>
            <span>新密码：</span>
        </div>
        <input name="newPassword" type="password"/>
    </div>
    <div class="item">
        <div class="word">
            <span class="star">*</span>
            <span>确认密码：</span>
        </div>
        <input type="password" />
    </div>
    <button>提交</button>
</form>