@model GameMall_Front.ViewModels.Customer.ViewModelDeliveryAddress
@{ 
    Layout = null;
}
<div>送货至：@Model.Province @Model.Area @Model.Street @Model.DetailAddress</div>
<div>收货人：@Model.DeliveryName @Model.TelNum</div>
