<!--页脚-->
<footer>
    <div class="footer">
        <!-- about -->
        <div class="about">
            <div class="wrap">
                <ul class="cf">
                    <li>
                        <img src="~/Images/Footer/1.png" />
                        <span>正品保证</span>
                    </li>
                    <li>
                        <img src="~/Images/Footer/2.png" />
                        <span>轻松购物</span>
                    </li>
                    <li>
                        <img src="~/Images/Footer/3.png" />
                        <span>快速配送</span>
                    </li>
                    <li class="return">
                        <img src="~/Images/Footer/4.png" />
                        <span>无忧退换</span>
                    </li>
                </ul>
                <div class="cf link">
                    <dl>
                        <dt>购物指南</dt>
                        <dd><a href="#" target="_blank">常见问题</a></dd>
                        <dd><a href="#" target="_blank" class="needLogin">订单状态</a></dd>
                        <dd><a href="#" target="_blank">购物流程</a></dd>
                        <dd><a href="#" target="_blank">支付方式</a></dd>
                    </dl>
                    <dl>
                        <dt>配送方式</dt>
                        <dd><a href="#" target="_blank">配送范围</a></dd>
                        <dd><a href="#" target="_blank">快递费用</a></dd>
                    </dl>
                    <dl>
                        <dt>售后服务</dt>
                        <dd><a href="#" target="_blank">退换货流程</a></dd>
                        <dd><a href="#" target="_blank">退换货政策</a></dd>
                        <dd><a href="#" target="_blank">服务政策</a></dd>
                    </dl>
                    <dl>
                        <dt>关注我们</dt>
                        <dd><a href="#" target="_blank">公司官网</a></dd>
                        <dd><a href="#" target="_blank">官方微信</a></dd>
                    </dl>
                    <div class="f_right contact">
                        <p class="tel">028-68723699</p>
                        <p class="time">周一至周日 9:00-22:00</p>
                        <a href="#" target="_blank" class="needLogin">
                            <span>在线客服</span>
                        </a>
                    </div>
                </div>
                <div>
                    <p>凤凰传媒(SH601928)旗下网站 ：凤凰游戏</p>
                    <p>CopyRight © 2012-2017 shop.ali213.com All Right Reserved 浙ICP备12018679号-9</p>
                </div>
            </div>
        </div>
    </div>
</footer>