body {
}
.center-block{
    width:100%
}
.center-block .all-goods{
    /*width:1210px;*/
    margin:auto;
    background-color:#fff;
    /*background-color:aquamarine;*/
}
.position-block {
    width:100%;
    background-image: url('../Images/Shared/location.png');
}
.center-block .all-goods .position {
    color: #e1e1e1;
    width: 1210px;
    margin: auto;
    line-height: 40px;
}
.all-goods .type-navigation {
    border: 1px solid #ddd;
    width: 1210px;
    margin: auto;
}
.all-goods .navigation-first{
    line-height:44px;
}
.all-goods .type{
    padding-left:20px;
    float:left;
}
.all-goods .type-navigation ul{
    overflow:hidden;
    margin-left:70px;
}
.all-goods .type-navigation li{
    width:100px;
    text-align:center;
    font-size:12px;
    float:left;
}
.all-goods .type-navigation li button{
    background-color:#fff;
    border:0;
}
.all-goods .navigation-second{
    line-height:44px;
}
.all-goods .navigation-third{
    line-height:44px;
}
.all-goods .goods-list {
    width: 1210px;
    margin: auto;
}