.container{

}
.container .position {
    color: #e1e1e1;
    width: 1210px;
    margin: auto;
    line-height: 40px;
}
.position-block {
    width: 100%;
    background-image: url('../Images/Shared/location.png');
}
.shopping_car table {
    margin: auto;
    width: 1210px;
    /*min-width: 1090px;*/
    border-top: 2px solid #dbdbdb;
    border-bottom: 2px solid #dbdbdb;
}
.shopping_car table thead{
    border-top: 2px solid #dbdbdb;
    border-bottom: 1px solid #eaeaea;
}
.shopping_car th {
    text-align: center;
    width: 166px;
    height: 38px;
    line-height: 38px;
    background: #f2f2f2;
    font-weight: bold;
    color: #333;
}

.shopping_car tbody {
    background: #FFF;
}

.shopping_car .operation {
    width: 289px;
    text-align: center;
}

.shopping_car td {
    padding: 4px 0;
    text-align: center;
    /*width: 160px;*/
    border-bottom: 1px solid #eaeaea;
}
.shopping_car td img{
    width:90px;
}
.shopping_car tfoot{
    line-height: 38px;
    background: #f2f2f2;
}
.shopping_car input{
    width:20px;
}
.shopping_car form{
    display:inline-block;
    margin-left:30px;
}