
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>注册</title>
    @*<link href="~/Css/register.css" rel="stylesheet" />*@
    <link href="~/Css/login.css" rel="stylesheet" />
</head>
<body>
    @*<div class="register">
        <div>
            <div class="logo">
                <img src="~/Images/logo.png" />
            </div>
            <div class="contain">
                <h3>注册新用户</h3>
                <div>
                    <span class="item">用户名：</span>
                    <input />
                </div>
                <div>
                    <span class="item">邮箱：</span>
                    <input id="email"/>
                </div>
                <div>
                    <span class="item">邮箱验证码：</span>
                    <input id="verification_code"/>
                    <button onclick="VerificationCode()">获取验证码</button>
                </div>
                <div>
                    <span class="item">密码：</span>
                    <input />
                </div>
                <div>
                    <span class="item">确认密码：</span>
                    <input />
                </div>
                <button>确认</button>
            </div>
            <div class="footer">
                2017 ©重庆理工大学 奇点俱乐部
            </div>
        </div>
    </div>*@
    <form action="/FrontCustomer/Register" method="post">
        <div class="bg-block">
            <div class="login-container">
                <div class="left-block">
                </div>
                <div class="right-block">
                    <img class="logo" src="~/Images/User/logo-name.png" />
                    <div class="userName">
                        <img src="~/Images/User/用户.png" />
                        <input type="text" name="UserName" id="UserName" placeholder="用户名/手机号/邮箱" onblur="UserCheck()" />
                        <div class="tip" id="tip_userName"></div>
                    </div>
                    <div class="password">
                        <img src="~/Images/User/密码.png" />
                        <input type="password" name="Password" id="Password" placeholder="密码" onblur="PasswordCheck()" />
                        <div class="tip" id="tip_password"></div>
                    </div>
                    <div class="password">
                        <img src="~/Images/User/密码.png" />
                        <input type="password" name="Password" id="Password" placeholder="确认密码" onblur="PasswordCheck()" />
                        <div class="tip" id="tip_password"></div>
                    </div>
                    <button class="login" type="submit">注册</button>
                    <div class="register">
                        <span>已有账号？</span>
                        <a href="/FrontCustomer/Login">立即登录</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="~/Js/user.js"></script>
    @*<script src="~/Js/jquery-1.9.1.js"></script>
    <script>
        function VerificationCode() {
            var email = $("#email").val();
            $.ajax({
                url: "/FrontCustomer/SendMail",
                dataType: "html",
                data: { "email": email },
                success: function (data) {
                    alert(data);
                    //$("#right").html(data);
                },
                error: function () {
                    alert("请求出错处理");
                }
            });
        };
    </script>*@

</body>
</html>
