
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Css/pay.css")
}
<div  class="pay">
    <form action="/FrontOrder/Evaluate" method="post">
        <div>评价订单</div>
        <div>
            <textarea name="Evaluate"></textarea>
        </div>
        <div>
            <input name="orderId" value="@Model" type="hidden" />
            <button>提交</button>
        </div>
    </form>
</div>

