
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Css/pay.css")
}
<div class="pay">
    <div>付款成功</div>
    <div>
        <a href="/">返回首页</a>
        <a href="/FrontCustomer/MyMall">查看订单</a>
    </div>
</div>

