
@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>

    @*<link rel="stylesheet" type="text/css" media="screen" href="~/Carousel/css/CSSreset.min.css" />*@
    @*<link rel="stylesheet" type="text/css" media="screen" href="~/Carousel/css/font-awesome.min.css" />*@
    @*<link rel="stylesheet" type="text/css" media="screen" href="~/Carousel/css/divas_instructions_style.css" />*@
    <link id="skin" rel="stylesheet" type="text/css" media="screen" href="~/Carousel/css/divas_free_skin.css" />
    @*<link rel="stylesheet" type="text/css" media="screen" href="~/Carousel/css/content.css" />*@
    @*<link rel="stylesheet" type="text/css" media="screen" href="~/Carousel/css/prism.css" />*@
</head>
<body>
    <div id="slider_wrapper">
        <div id="slider" class="divas-slider">
            <ul class="divas-slide-container">
                <li class="divas-slide"><img src="~/Carousel/images/placeholder.gif" alt="" data-src="/Carousel/images/slider/img1.jpg" data-title="<h1>1H.NET.CN.com</h1><p>Title is visible only if you use the attribute 'data-title' of your image</p>" /></li>
                <li class="divas-slide"><img src="~/Carousel/images/placeholder.gif" alt="" data-src="/Carousel/images/slider/img2.jpg" data-title="<h1>1H.NET.CN</h1><p>Gives you the full freedom of clickable images</p>" /></li>
                <li class="divas-slide"><img src="~/Carousel/images/placeholder.gif" alt="" data-src="/Carousel/images/slider/img4.jpg" data-title="<h1>1H.NET.CN</h1><p>Images use lazy loading via deferred object</p>" /></li>
                <li class="divas-slide"><img src="~/Carousel/images/placeholder.gif" alt="" data-src="/Carousel/images/slider/img3.jpg" data-title="<h1>1H.NET.CN</h1><p>You can style it as you wish via CSS</p>" /></li>
                <li class="divas-slide"><img src="~/Carousel/images/placeholder.gif" alt="" data-src="/Carousel/images/slider/img5.jpg" data-title="<h1>1H.NET.CN</h1><p>Uses CSS3 transitions or jQuery.animate() as a fallback</p>" /></li>
                <li class="divas-slide"><img src="~/Carousel/images/placeholder.gif" alt="" data-src="/Carousel/images/slider/img6.jpg" data-title="<h1>1H.NET.CN</h1><p>You can set up almost any slider style your desire</p>" /></li>
                <li class="divas-slide"><img src="~/Carousel/images/placeholder.gif" alt="" data-src="/Carousel/images/slider/img7.jpg" data-title="<h1>1H.NET.CN</h1><p>Gives you extensive documentation and friendly support</p>" /></li>
            </ul>
            <div class="divas-navigation"> <span class="divas-prev">&nbsp;</span> <span class="divas-next">&nbsp;</span> </div>
            <div class="divas-controls"> <span class="divas-start"><i class="fa fa-play"></i></span> <span class="divas-stop"><i class="fa fa-pause"></i></span> </div>
        </div>
    </div>
</body>
</html>
