@model List<GameMall_Back.ViewModels.Goods.ViewModelWarehouse>
@{
    Layout = null;
}
<select class="select-Warehouse" name="WarehouseId">
    @if (Model.All(item => item.flag == null))
    {
        <option disabled="disabled" selected="selected">请选择...</option>
    }
    @foreach (var item in Model)
    {
        if (item.flag == 1)
        {
            <option selected="selected" value="@item.WarehouseId">@item.WarehouseName</option>
        }
        else
        {
            <option value="@item.WarehouseId">@item.WarehouseName</option>
        }
    }
</select>